<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.GroupRoleMapper" >
  <resultMap id="BaseResultMap" type="GroupRole" >
    <id column="goup_role_id" property="goupRoleId"  />
    <result column="group_id" property="groupId"  />
    <result column="role_id" property="roleId"/>
  </resultMap>
  
  <!-- 根据前端传来的组ID查询角色ID -->
  <select id="selectGroupRoleById"  parameterType="GroupRole" resultType="String">
  	SELECT GROUP_CONCAT(`role_id`) FROM `group_role`
		WHERE `group_id`=#{groupId}
  </select>
  
  <!-- 根据前台传来的用户ID删除角色ID -->
	<delete id="deleGroupRoleId" parameterType="java.util.HashMap">
	DELETE FROM group_role WHERE group_id=#{groupId}
	</delete>
	
	<!-- 根据后台传来的用户ID给角色ID重新赋值 -->
	<insert id="addGroupRoleId" parameterType="java.util.HashMap">
	insert into group_role (role_id,group_id) values (#{roleId},#{groupId})
	</insert>
	
  </mapper>